<div class="container">
    <app-title [title]="'Experience'" [description]="expDescription"></app-title>
    <ul>
        <li>
            <div class="row">
                <div class="date_column">
                    <span>Aug 2017 - Nov 2017</span>
                </div>
                <div class="text_column">
                    <span>UI/UX Design courses at Evne Academy (Ukraine).</span>
                </div>
            </div>
        </li>
        <li>
            <div class="row">
                <div class="date_column">
                    <span>Feb 2019 - July 2019</span>
                </div>
                <div class="text_column">
                    <span>Web Development Bootcamp at <a href="{{ironhackUrl}}" target="_blank">Ironhack</a>.</span>
                </div>
            </div>
        </li>
        <li>
            <div class="row">
                <div class="date_column">
                    <span>Sep 2019 - Feb 2020</span>
                </div>
                <div class="text_column">
                    <span>QA Engineer at <a href="{{edCastUrl}}" target="_blank">EdCast</a>.</span>
                </div>
            </div>
        </li>
        <li>
            <div class="row">
                <div class="date_column">
                    <span>Feb 2020 - Jul 2022</span>
                </div>
                <div class="text_column">
                    <span>Frontend Web Developer at <a href="{{edCastUrl}}" target="_blank">EdCast</a>.</span>
                </div>
            </div>
        </li>
    </ul>
</div>

<div>
    <app-title [title]="'Skills'" [description]="skillDescription"></app-title>
        <span class="skills">KEY TECHNICAL SKILLS</span>
            <ul>
                <li>Angular, NGXS</li>
                <li>React</li>
                <li>TypeScript, JavaScript ES6/ES7</li>
                <li>NodeJS, Java</li>
                <li>HTML5, CSS3, SCSS, LESS</li>
                <li>MySQL, MongoDB </li>
                <li>Bootstrap, NG-ZORRO, Material UI</li>
                <li>Jasmine, Karma</li>
                <li>GIT, GitHub</li>
                <li>Agile, Scrum, Jira</li>
                <li>Jenkins, AWS</li>
                <li>Responsive Design, Graphic Design</li>
                <li>Debugging</li>
            </ul>
        <span class="skills">KEY SOFT SKILLS</span>
    <ul>
        <li>Team player</li>
        <li>Attentive to details</li>
        <li>Responsible</li>
        <li>Considering communication as a key to successful deliverables</li>
        <li>Creative</li>
        <li>Critical way of thinking</li>
        <li>Empathetic</li>
        <li>Organized</li>
        <li>Flexible for changes</li>
    </ul>
</div>

<div>
    <app-title [title]="'Hobbies'" [description]="hobbiesDescription"></app-title>
    <span class="skills"></span>
        <ul>
            <li>Playing guitar</li>
            <li>Knitting and crocheting</li>
            <li>Fitness</li>
            <li>Reading (history, novels, philosophy, psychology)</li>
            <li>Learning Dutch</li>
            <li>Visitng museums, art galleries and exhibitions</li>
            <li>Snorkeling, Scuba diving</li>
        </ul>
</div>
