<div class="container">
    <app-title [title]="'About Me'" [description]="description"></app-title>
    <ul>
        <li>
            <div class="row">
                <div class="date_column">
                    <span>May 2011</span>
                </div>
                <div class="text_column">
                    <span>Graduated from the high school.</span>
                </div>
            </div>
        </li>
        <li>
            <div class="row">
                <div class="date_column">
                    <span>Sep 2011 - June 2015</span>
                </div>
                <div class="text_column">
                    <span>Studying at Kyiv National University of Taras Shevchenko. <br> 
                        Speciality: Cultural Anthropology, Ukrainian Language and Literature, Spanish Language.</span>
                </div>
            </div>
        </li>
        <li>
            <div class="row">
                <div class="date_column">
                    <span>Sep 2015 - Aug 2017</span>
                </div>
                <div class="text_column">
                    <span>Au-pair in the Netherlands.</span>
                </div>
            </div>
        </li>
        <li>
            <div class="row">
                <div class="date_column">
                    <span>Aug 2017 - Nov 2017</span>
                </div>
                <div class="text_column">
                    <span>UI/UX Design courses at Evne Academy (Ukraine).</span>
                </div>
            </div>
        </li>
        <li>
            <div class="row">
                <div class="date_column">
                    <span>Feb 2019 - July 2019</span>
                </div>
                <div class="text_column">
                    <span>Web Development Bootcamp at <a href="{{ironhackUrl}}" target="_blank">Ironhack</a>.</span>
                </div>
            </div>
        </li>
        <li>
            <div class="row">
                <div class="date_column">
                    <span>Sep 2019 - Feb 2020</span>
                </div>
                <div class="text_column">
                    <span>QA Engineer at <a href="{{edCastUrl}}" target="_blank">EdCast</a>.</span>
                </div>
            </div>
        </li>
        <li>
            <div class="row">
                <div class="date_column">
                    <span>Feb 2020 - Jul 2022</span>
                </div>
                <div class="text_column">
                    <span>Frontend Web Developer at <a href="{{edCastUrl}}" target="_blank">EdCast</a>.</span>
                </div>
            </div>
        </li>
    </ul>
</div>

