
.nav {
    margin-bottom: 3rem;
    ul {
        text-align: center;
        height: 60px;
        margin-top: 20px;
        background: none;
    }
    li {
        margin: 0 20px;
    }
}
.ant-menu-horizontal {
    border: none;
}