<div class="container">
    <ul>
        <li>
            <div class="row">
                <div class="key-column">
                    <span>Email:</span>
                </div>
                <div class="value-column">
                    <a href="mailto: olga.bondarenko.nl@gmail.com">olga.bondarenko.nl@gmail.com</a>
                </div>
            </div>
        </li>
        <li>
            <div class="row">
                <div class="key-column">
                    <span>LinkedIn:</span>
                </div>
                <div class="value-column">
                    <a href="https://www.linkedin.com/in/olga-bondarenko-nl/" target="_blank">LinkedIn</a>
                </div>
            </div>
        </li>
        <li>
            <div class="row">
                <div class="key-column">
                    <span>GitHub:</span>
                </div>
                <div class="value-column">
                    <a href="https://github.com/olha-bondarenko/" target="_blank">GitHub</a>
                </div>
            </div>
        </li>
    </ul>
</div>