<div class="container" nz-row nzJustify="space-around" nzAlign="middle">
    <div class="intro">
      <h1>Hello, I am <a target="_blank" href="{{linkedInUrl}}">Olga Bondarenko</a></h1>
        <div class="intro-description">
          <h3>
            I am a creative and passionate <span>Frontend Developer</span> based in the Netherlands.<br>
            I enjoy working on meaningful projects to make the world a better place. <br>
            My goal is to turn more women into tech.
          </h3>
        </div>
      <app-basic-button [text]="'Get in touch!'" [link]="'/contact'"></app-basic-button>
    </div>
  <img alt="example" src="{{pictureUrl}}" class="image" />
</div>
  