<div class="main">
  <div nz-row nzJustify="center">
    <img alt="example" src="../../../assets/AvatarMaker (1).svg" class="image" />
  </div>
  <div class="intro">
    <h1>Hi, I am <a target="_blank" href="https://www.linkedin.com/in/olga-bondarenko-nl">Olga</a></h1>
  </div>
  <div class="intro-description">
    <h3>
      I am a creative and passionate <span>Front-end Developer</span>.<br>
      I enjoy working on meaningful projects to make the world a better place. <br>
      My goal is to turn more women in tech and with my own example show that only sky's the limit.<br>
    </h3>
  </div>
</div>
